<nav class="bg-gray-800 p-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center space-x-4">
      <!-- Company Logo -->
      <img src="assets/logo.png" alt="Company Logo" class="h-8 w-8">
    </div>

    <!-- Centered Navigation Links -->
    <div class="flex items-center space-x-4">
      <a routerLink="/" class="text-white  hover:text-gray-400   transition duration-300">Home</a>
      <a routerLink="/tour_package" class="text-white hover:text-gray-400   transition duration-300">Tour Packages</a>
      <a routerLink="/about" class="text-white  hover:text-gray-400 transition duration-300">About</a>
      <a routerLink="/contact" class="text-white  hover:text-gray-400 transition duration-300">Contact</a>
    </div>

    <!-- Profile Icon -->
    <div class="flex items-center space-x-4">
      <img src="assets/pp.png" alt="Profile Icon" class="h-8 w-8">
      <!-- Add additional profile information or menu as needed -->
    </div>
  </div>
</nav>
